@import 'mixin.scss';
@import 'responsive';
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&family=Bellefair&family=Commissioner:wght@400;500;700&family=Kumbh+Sans:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
    height: 100vh;
    font-family: 'Barlow', sans-serif;
}
li{
    list-style-type: none;
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
}

//Index
.body_wrapper{
    background: url('../starter-code/assets/home/background-home-desktop.jpg') no-repeat center / cover;
    padding: 3% 0;
}
.navigaton_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
//burger starts
.nav_burger {
    display: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    z-index: 1000;
    margin-right: 2rem;
}
div.menu_btn--lines {
    display: block;
    width: 23px;
    height: 3px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    position: relative;
    background-color: #fff;
        &::after, &::before{
            display: block;
            content: '';
            position: absolute;
            width: 23px;
            height: 3px;
            border-radius: 5px;
            transition: all .5s ease-in-out;
            background-color: #fff;
             margin-right: 5rem;

        }
        &::before{
            transform:translateY(-6px)
        }
        &::after{
            transform:translateY(6px)
        }
     }
     //burger ends
     .nav{
        background-color: rgba(42, 64, 90, .1);
        backdrop-filter: blur(1.5rem);
        display: flex;
        align-items: center;
        justify-content: center;
     }
.navigation__menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4.5rem;
    padding:2rem 2.5rem;
        & li{
            display: flex;
            align-items: center;
            justify-content: center;
            @include fluid-type (320px,1500px,12px,16px);
            text-transform: uppercase;
            gap: 2rem;
            cursor: pointer;
            transition: all .3s ease;
            border-bottom: 4px solid rgba(42, 64, 90, 0);

            &.active{
                border-color: #fff;
            }
            &:hover{
                border-color: rgba(255, 255, 255, 0.548);
            }
            & strong{
                font-size: 20px;
                vertical-align: top;

            }
            & a{
                letter-spacing: 1.5px;
                display: flex;
                align-items: center;
                justify-content: center;
                
            }
        }
}
.navigation__logo {
    flex: 1;
        & img{
        margin-left: 5rem;
        }
}
.index__main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    padding: 8rem 3rem;
}
.index__main--content{
    color: #d2d8f9;
    // width: 40%;
    // min-width: 320px;
    // max-width: 480px;
    & h1{
        text-transform: uppercase;
        @include fluid-type (320px,1500px,20px,28px);

        font-weight: 700;
        letter-spacing: 2px;
        & span{
            display: inline-block;
            @include fluid-type (320px,1500px,100px,150px);
            font-weight: 400;
            margin-left: 3%;
            padding:1.5rem 0;
            font-family: 'Bellefair', serif;

        }
       
    }
    & p{
        @include fluid-type (320px,1500px,16px,18px);
        line-height: 32px;
    }
        
}
div.index__main--btn{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(3,1fr);
    row-gap: 6rem;

     & a{
         grid-row: 2;
         grid-column: 3;
     }
}
.index__main--explore{
    background-color: #fff;
    max-width: 18rem;
    max-height: 18rem;
    min-width: 16rem;
    min-height: 16rem;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include fluid-type (320px,1500px,28px,32px);
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Bellefair', serif;
    color: #0c0e18;
    z-index: 2;
    cursor: pointer;
        &::after{
            content: '';
            display: block;
             width: 100%;
            height: 100%;
             background-color: #fff;
             position: absolute;
             z-index: -1;
             border-radius: 50%;
             opacity: 0;
             transition: all .7s ease-in-out;

        }
        &:hover::after{
            transform: scale(1.5);
            opacity: .1;
        }

}
//Destination
.body_wrapper--destination{
    background: url('../starter-code/assets/destination/background-destination-desktop.jpg') no-repeat center / cover;
    min-height: 100%;
    padding-top: 3%;
    position: relative;
    color: #fff;
}
.destination__main{
    >h2{
        font-weight: 400;
        letter-spacing: 2.5px;
        margin: 4rem 0 5rem 7%;
        font-size: 28px;
            & span{
                color: #d2d8f9;
                font-weight: 700;
            }
    }
}
.destination__main--wrap{
    display: flex;
    padding: 0 2.5rem;
}
.destination__main{
   padding-bottom: 5%;
    &--img{
        margin-left: 7rem;
            & img{
                max-width: 90%;
                    &.active{
                        animation: fadeIn .5s ease-in;
                    }
            }
    }
    &--content{
        margin-left: 1.5%;
        display: flex;
        flex-direction: column;

            &-dest{             
                display: flex;
                align-items: center;
                justify-content: space-between;
                text-transform: uppercase;
                cursor: pointer;
                gap: 1.5rem;
                width: 40%;
                    & li.active{
                        border-bottom:3px solid #fff;
                    }
                    & li{
                        transition: all .2s ease;
                        border-bottom: 3px solid  rgba(255, 255, 255, 0);
                        color:rgb(210, 216, 249) ;             

                    }
                    & li:hover{
                     border-color: rgba(255, 255, 255, 0.548);

                    }
            }
            & h2{
                font-size: 100px;
                text-transform: uppercase;
                font-weight: 400;
                max-width: 500px;
                letter-spacing: 10px;
                padding-bottom: 1rem;
            }
            & p{
                max-width: 700px;
                font-size: 18px;
                line-height: 32px;
                padding-bottom: 3rem;
                border-bottom: 1px solid #d2d8f9;

            }
    }
}
.destination__main--content--info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    max-width: 400px;
    gap: 3rem;
        & .info__name{
            font-size: 14px;
            color: #d2d8f9;
        }
        & span:nth-of-type(2){
            display: inline-block;
            padding-top:.2em;
            font-size: 28px;
        }
}
//crew
.body_wrapper--crew{
    background: url('../starter-code/assets/crew/background-crew-desktop.jpg') no-repeat center / cover;
    padding-top: 3%;
    color: #fff;
    overflow: hidden;

}

.crew__main{
    max-width: 1800px;
    padding-bottom: 6rem;

    >h2{
        font-weight: 400;
        letter-spacing: 2.5px;
        margin: 4rem 0 5rem 8rem;
        font-size: 28px;
            & span{
                color: #d2d8f9;
                font-weight: 700;
            }
    }
}
.crew__main--grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.crew__main--content{
   
    
    margin-left: 8rem;
    color: #d2d8f9;

        & h4{
            font-size: 30px;
            font-weight: 500;
            letter-spacing: 8px;
            padding:1.5em 0 0;
            text-transform: uppercase;

        }
        & h2{
            font-size: 70px;
            font-weight: 400;
            padding:.3em 0;
            text-transform: uppercase;

        }
        & p{
            max-width: 600px;
            font-size: 16px;
            line-height: 2em;
        }
        .crew__radio-btns{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 15%;
            min-width: 90px;
            margin-top: 2rem;
                > div{
                    height: 15px;
                    width: 15px;
                    background-color: transparent;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: all .3s ease;
                    &.active{
                        background-color: #fff;
                    }
                }
        }
}
.crew__img{
    
  position: relative;
        & > img{
            position: absolute;
            bottom: -30%;
            left: 10%;
            max-width: 55%;
            object-fit: cover;
            min-width: 250px;
           
            
        }
}
.crew__container{
    max-width: 1800px;
}

//technology
.body_wrapper--techology{
    background: url('../starter-code/assets/technology/background-technology-desktop.jpg') no-repeat center / cover;
    min-height: 100%;
    padding-top: 3%;
    color: #fff;
}
.technology__main{
    max-width: 1800px;
    padding-bottom: 5rem;
    margin: 0 auto;

    >h2{
        font-weight: 400;
        letter-spacing: 2.5px;
        margin: 4rem 0 5rem 8rem;
        font-size: 28px;
            & span{
                color: #d2d8f9;
                font-weight: 700;
            }
    }
}
.technology__main--box{
  display: grid;
  grid-template-columns:repeat(8,1fr);
  padding:0 5rem;
  gap: 1.5rem;
    
    
}
.technology__btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 350px;
      &>div{
          width: 70px;
          height: 70px;
          background-color: transparent;
          border-radius: 50%;
          border: 1px solid #fff;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          cursor: pointer;
          transition: all .4s ease;
          font-size: 20px;

            &.active{
                background-color: #fff;
                color: #000;

            }
      }
}
.technology__main--content{
   grid-column: span 3;
   min-width: 320px;
    & span{
        display: inline-block;
        font-weight: 400;
        color: #d2d8f9;
        margin-bottom: 1em;
    }
    & h2{
        @include fluid-type(320px,1500px,40px,55px);
        font-weight: 500;
        letter-spacing: 5px;
        padding: .4em 0;
        text-transform: uppercase;
    }
    & p{
        line-height: 2em;
        font-size: 16px;
        color: #d2d8f9;

    }
}
.technology__img{
    width: 100%;
    grid-column: 7/-1;
        &>img{
            width: 110%;
            min-width: 320px;
        }
}


.nav-btn-mob{
    color: #fff;
    z-index: 22;
    display: none;

}

.navigation__menu.active{
    position: fixed;
    right: 0;
    width: 100%;
    min-height: 20vh;
    display: block;
        & > li{
            line-height: 2em;
        }
}



